@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Noto Sans', sans-serif; }
h1, h2, h3 {
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono', monospace; }

pre {
  padding: 6px;
  border: 1px solid #eee;
  border-radius: 3px;
}

div.half {
  float: left;
  width: 49%;
}

.big {
  font-size: 150%;
}
